.super-mario {
    width: 250px;
    top: 100px;
    position: absolute;
    z-index: 1;
    left: 100px;
}

.goomba {
    width: 100px;
    position: absolute;
    z-index: 2;
    top: 500px;
    left: 180px;
}

.baloon {
    width: 300px;
    position: absolute;
    z-index: 3;
    top: 200px;
    left: 400px;
}

.speach {
    font-size: 25px;
    position: absolute;
    z-index: 4;
    top: 240px;
    left: 420px;
}

.bowser {
    width: 200px;
    position: absolute;
    z-index: 5;
    top: 350px;
    left: 700px;
}